/* Loader.css */
.loading-container, .loading-gif {
    position: relative;
    z-index: 1000; /* Brings the image to the front */
  }
  
  
/* CSS for troubleshooting */
.loading-gif {
    display: block;
    max-width: 100%;
    height: auto;
    opacity: 1; /* Ensure it’s fully visible */
    z-index: 10; /* Ensure it’s not hidden behind other elements */
  }
  
  